<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Projetos
  </h1>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-aqua">
          <i class="fa fa-clone"></i>
        </span>

        <div class="info-box-content">
          <span class="info-box-text">
            <b>Projetos</b>
          </span>
          <span class="info-box-number">20 Projetos e 30 demandas</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>


    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-green">
          <i class="fa fa-check"></i>
        </span>

        <div class="info-box-content">
          <span class="info-box-text">
            <b>Demandas Concluidos</b>
          </span>
          <span class="info-box-number">10</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-yellow">
          <i class="fa fa-circle-o-notch"></i>
        </span>

        <div class="info-box-content">
          <span class="info-box-text">
            <b>Demandas Em Andamento</b>
          </span>
          <span class="info-box-number">10</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-red">
          <i class="fa fa-sticky-note-o"></i>
        </span>

        <div class="info-box-content">
          <span class="info-box-text">
            <b>Demandas Não Iniciados</b>
          </span>
          <span class="info-box-number">10</span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
  </div>
  <div class="row">
    <section class="col-lg-12 projetos">
      <div class="box box-primary">
        <div class="box-header">
          <i class="fa fa-clone"></i>
          <h3 class="box-title">Listar Projetos</h3>

          <div class="box-body">
            <table id="example" class="table table-striped table-bordered" style="width:100%">
              <thead>
                <tr>
                  <th>Nome</th>
                  <th>Cliente</th>
                  <th>Data de Criação</th>
                  <th>Ação</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Projeto 1</td>
                  <td>São Judas Tadeu</td>
                  <td>20/08/2018</td>
                  <td>
                    <a [routerLink]="['/projeto/demandas']" style="width: 85px;;" type="a" class="btn btn-block btn-primary btn-sm">Visualizar</a>
                  </td>
                </tr>
                <tr>
                  <td>Projeto 1</td>
                  <td>São Judas Tadeu</td>
                  <td>20/08/2018</td>
                  <td>
                    <a [routerLink]="['/projeto/demandas']" style="width: 85px;;" type="a" class="btn btn-block btn-primary btn-sm">Visualizar</a>
                  </td>
                </tr>
                <tr>
                  <td>Projeto 1</td>
                  <td>São Judas Tadeu</td>
                  <td>20/08/2018</td>
                  <td>
                    <a [routerLink]="['/projeto/demandas']" style="width: 85px;;" type="a" class="btn btn-block btn-primary btn-sm">Visualizar</a>
                  </td>
                </tr>
                <tr>
                  <td>Projeto 1</td>
                  <td>São Judas Tadeu</td>
                  <td>20/08/2018</td>
                  <td>
                    <a [routerLink]="['/projeto/demandas']" style="width: 85px;;" type="a" class="btn btn-block btn-primary btn-sm">Visualizar</a>
                  </td>
                </tr>
                <tr>
                  <td>Projeto 1</td>
                  <td>São Judas Tadeu</td>
                  <td>20/08/2018</td>
                  <td>
                    <a [routerLink]="['/projeto/demandas']" style="width: 85px;;" type="a" class="btn btn-block btn-primary btn-sm">Visualizar</a>
                  </td>
                </tr>
                <tr>
                  <td>Projeto 1</td>
                  <td>São Judas Tadeu</td>
                  <td>20/08/2018</td>
                  <td>
                    <a [routerLink]="['/projeto/demandas']" style="width: 85px;;" type="a" class="btn btn-block btn-primary btn-sm">Visualizar</a>
                  </td>
                </tr>
                <tr>
                  <td>Projeto 1</td>
                  <td>São Judas Tadeu</td>
                  <td>20/08/2018</td>
                  <td>
                    <a [routerLink]="['/projeto/demandas']" style="width: 85px;;" type="a" class="btn btn-block btn-primary btn-sm">Visualizar</a>
                  </td>
                </tr>
                <tr>
                  <td>Projeto 1</td>
                  <td>São Judas Tadeu</td>
                  <td>20/08/2018</td>
                  <td>
                    <a [routerLink]="['/projeto/demandas']" style="width: 85px;;" type="a" class="btn btn-block btn-primary btn-sm">Visualizar</a>
                  </td>
                </tr>
                <tr>
                  <td>Projeto 1</td>
                  <td>São Judas Tadeu</td>
                  <td>20/08/2018</td>
                  <td>
                    <a [routerLink]="['/projeto/demandas']" style="width: 85px;;" type="a" class="btn btn-block btn-primary btn-sm">Visualizar</a>
                  </td>
                </tr>
                <tr>
                  <td>Projeto 1</td>
                  <td>São Judas Tadeu</td>
                  <td>20/08/2018</td>
                  <td>
                    <a [routerLink]="['/projeto/demandas']" style="width: 85px;" type="a" class="btn btn-block btn-primary btn-sm">Visualizar</a>
                  </td>
                </tr>
                <tr>
                  <td>Projeto 1</td>
                  <td>São Judas Tadeu</td>
                  <td>20/08/2018</td>
                  <td>
                    <a [routerLink]="['/projeto/demandas']" style="width: 85px;;" type="a" class="btn btn-block btn-primary btn-sm">Visualizar</a>
                  </td>
                </tr>
                <tr>
                  <td>Projeto 1</td>
                  <td>São Judas Tadeu</td>
                  <td>20/08/2018</td>
                  <td>
                    <a [routerLink]="['/projeto/demandas']" style="width: 85px;;" type="a" class="btn btn-block btn-primary btn-sm">Visualizar</a>
                  </td>
                </tr>
                <tr>
                  <td>Projeto 1</td>
                  <td>São Judas Tadeu</td>
                  <td>20/08/2018</td>
                  <td>
                    <a [routerLink]="['/projeto/demandas']" style="width: 85px;;" type="a" class="btn btn-block btn-primary btn-sm">Visualizar</a>
                  </td>
                </tr>
                <tr>
                  <td>Projeto 1</td>
                  <td>São Judas Tadeu</td>
                  <td>20/08/2018</td>
                  <td>
                    <a [routerLink]="['/projeto/demandas']" style="width: 85px;;" type="a" class="btn btn-block btn-primary btn-sm">Visualizar</a>
                  </td>
                </tr>
                <tr>
                  <td>Projeto 1</td>
                  <td>São Judas Tadeu</td>
                  <td>20/08/2018</td>
                  <td>
                    <a [routerLink]="['/projeto/demandas']" style="width: 85px;;" type="a" class="btn btn-block btn-primary btn-sm">Visualizar</a>
                  </td>
                </tr>
                <tr>
                  <td>Projeto 1</td>
                  <td>São Judas Tadeu</td>
                  <td>20/08/2018</td>
                  <td>
                    <a [routerLink]="['/projeto/demandas']" style="width: 85px;;" type="a" class="btn btn-block btn-primary btn-sm">Visualizar</a>
                  </td>
                </tr>
                <tr>
                  <td>Projeto 1</td>
                  <td>São Judas Tadeu</td>
                  <td>20/08/2018</td>
                  <td>
                    <a [routerLink]="['/projeto/demandas']" style="width: 85px;;" type="a" class="btn btn-block btn-primary btn-sm">Visualizar</a>
                  </td>
                </tr>
                <tr>
                  <td>Projeto 1</td>
                  <td>São Judas Tadeu</td>
                  <td>20/08/2018</td>
                  <td>
                    <a [routerLink]="['/projeto/demandas']" style="width: 85px;;" type="a" class="btn btn-block btn-primary btn-sm">Visualizar</a>
                  </td>
                </tr>
                <tr>
                  <td>Projeto 1</td>
                  <td>São Judas Tadeu</td>
                  <td>20/08/2018</td>
                  <td>
                    <a [routerLink]="['/projeto/demandas']" style="width: 85px;;" type="a" class="btn btn-block btn-primary btn-sm">Visualizar</a>
                  </td>
                </tr>
                <tr>
                  <td>Projeto 1</td>
                  <td>São Judas Tadeu</td>
                  <td>20/08/2018</td>
                  <td>
                    <a [routerLink]="['/projeto/demandas']" style="width: 85px;;" type="a" class="btn btn-block btn-primary btn-sm">Visualizar</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </div>

</section>
<!-- /.content -->