<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <h3 class="box-title"><b>Analistas</b></h3>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 text-right">
            <div class="form-group">
                <label style="padding: 6px;" for="inputEmail3" class="col-sm-1 control-label">Buscar: </label>
  
              <div class="col-sm-6">
                <input class="form-control" id="inputEmail3" placeholder="Digite o nome do analista" type="text">
              </div>
            </div>
        </div>
      </div>
</section>

<!-- Main content -->
<section class="content">

  
  <div class="row">
    <div class="col-md-4">
      <!-- Widget: user widget style 1 -->
      <div class="box box-widget widget-user-2">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-aqua-active">
          <div class="widget-user-image">
            <img class="img-circle" src="../../../../../assets/img/user2-160x160.jpg" alt="User Avatar">
          </div>
          <!-- /.widget-user-image -->
          <h3 class="widget-user-username">Matheus Moura</h3>
          <h5 class="widget-user-desc">Analista Junior</h5>
        </div>
        <div class="box-footer no-padding">
          <ul class="nav nav-stacked">
            <li>
              <a href="#" style="font-weight: 600">Demandas
                <span class="pull-right badge bg-blue">30</span>
              </a>
            </li>
            <li>
              <a href="#" style="font-weight: 600">Não iniciadas
                <span class="pull-right badge bg-aqua">10</span>
              </a>
            </li>
            <li>
              <a href="#" style="font-weight: 600">Em Andamento
                <span class="pull-right badge bg-green">1</span>
              </a>
            </li>
            <li>
              <a href="#" style="font-weight: 600">Concluidos
                <span class="pull-right badge bg-red">19</span>
              </a>
            </li>
            <li class="text-center">
              <br>
              <button [routerLink]="['/analistas/perfil']" class="btn btn-primary">Visualizar</button>
              <br>
              <br>
            </li>
          </ul>
        </div>
      </div>
      <!-- /.widget-user -->
    </div>
    <div class="col-md-4">
      <!-- Widget: user widget style 1 -->
      <div class="box box-widget widget-user-2">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-aqua-active">
          <div class="widget-user-image">
            <img class="img-circle" src="../../../../../assets/img/leila.jpg" alt="User Avatar">
          </div>
          <!-- /.widget-user-image -->
          <h3 class="widget-user-username">Leila Anez</h3>
          <h5 class="widget-user-desc">Analista Junior</h5>
        </div>
        <div class="box-footer no-padding">
          <ul class="nav nav-stacked">
            <li>
              <a href="#" style="font-weight: 600">Demandas
                <span class="pull-right badge bg-blue">30</span>
              </a>
            </li>
            <li>
              <a href="#" style="font-weight: 600">Não iniciadas
                <span class="pull-right badge bg-aqua">10</span>
              </a>
            </li>
            <li>
              <a href="#" style="font-weight: 600">Em Andamento
                <span class="pull-right badge bg-green">1</span>
              </a>
            </li>
            <li>
              <a href="#" style="font-weight: 600">Concluidos
                <span class="pull-right badge bg-red">19</span>
              </a>
            </li>
            <li class="text-center">
              <br>
              <button [routerLink]="['/analistas/perfil']" class="btn btn-primary">Visualizar</button>
              <br>
              <br>
            </li>
          </ul>
        </div>
      </div>
      <!-- /.widget-user -->
    </div>
    <div class="col-md-4">
      <!-- Widget: user widget style 1 -->
      <div class="box box-widget widget-user-2">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-aqua-active">
          <div class="widget-user-image">
            <img class="img-circle" src="../../../../../assets/img/patrick.jpg" alt="User Avatar">
          </div>
          <!-- /.widget-user-image -->
          <h3 class="widget-user-username">Patrick Giaccomo</h3>
          <h5 class="widget-user-desc">Analista Junior</h5>
        </div>
        <div class="box-footer no-padding">
          <ul class="nav nav-stacked">
            <li>
              <a href="#" style="font-weight: 600">Demandas
                <span class="pull-right badge bg-blue">30</span>
              </a>
            </li>
            <li>
              <a href="#" style="font-weight: 600">Não iniciadas
                <span class="pull-right badge bg-aqua">10</span>
              </a>
            </li>
            <li>
              <a href="#" style="font-weight: 600">Em Andamento
                <span class="pull-right badge bg-green">1</span>
              </a>
            </li>
            <li>
              <a href="#" style="font-weight: 600">Concluidos
                <span class="pull-right badge bg-red">19</span>
              </a>
            </li>
            <li class="text-center">
              <br>
              <button [routerLink]="['/analistas/perfil']" class="btn btn-primary">Visualizar</button>
              <br>
              <br>
            </li>
          </ul>
        </div>
      </div>
      <!-- /.widget-user -->
    </div>
    <div class="col-md-4">
      <!-- Widget: user widget style 1 -->
      <div class="box box-widget widget-user-2">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-aqua-active">
          <div class="widget-user-image">
            <img class="img-circle" src="../../../../../assets/img/Leonardo.jpg" alt="User Avatar">
          </div>
          <!-- /.widget-user-image -->
          <h3 class="widget-user-username">Leonardo Ribeiro</h3>
          <h5 class="widget-user-desc">Analista Junior</h5>
        </div>
        <div class="box-footer no-padding">
          <ul class="nav nav-stacked">
            <li>
              <a href="#" style="font-weight: 600">Demandas
                <span class="pull-right badge bg-blue">30</span>
              </a>
            </li>
            <li>
              <a href="#" style="font-weight: 600">Não iniciadas
                <span class="pull-right badge bg-aqua">10</span>
              </a>
            </li>
            <li>
              <a href="#" style="font-weight: 600">Em Andamento
                <span class="pull-right badge bg-green">1</span>
              </a>
            </li>
            <li>
              <a href="#" style="font-weight: 600">Concluidos
                <span class="pull-right badge bg-red">19</span>
              </a>
            </li>
            <li class="text-center">
              <br>
              <button [routerLink]="['/analistas/perfil']"  class="btn btn-primary">Visualizar</button>
              <br>
              <br>
            </li>
          </ul>
        </div>
      </div>
      <!-- /.widget-user -->
    </div>
    <div class="col-md-4">
      <!-- Widget: user widget style 1 -->
      <div class="box box-widget widget-user-2">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-aqua-active">
          <div class="widget-user-image">
            <img class="img-circle" src="../../../../../assets/img/jonathan.jpg" alt="User Avatar">
          </div>
          <!-- /.widget-user-image -->
          <h3 class="widget-user-username">Jonathan Mota</h3>
          <h5 class="widget-user-desc">Analista Junior</h5>
        </div>
        <div class="box-footer no-padding">
          <ul class="nav nav-stacked">
            <li>
              <a href="#" style="font-weight: 600">Demandas
                <span class="pull-right badge bg-blue">30</span>
              </a>
            </li>
            <li>
              <a href="#" style="font-weight: 600">Não iniciadas
                <span class="pull-right badge bg-aqua">10</span>
              </a>
            </li>
            <li>
              <a href="#" style="font-weight: 600">Em Andamento
                <span class="pull-right badge bg-green">1</span>
              </a>
            </li>
            <li>
              <a href="#" style="font-weight: 600">Concluidos
                <span class="pull-right badge bg-red">19</span>
              </a>
            </li>
            <li class="text-center">
              <br>
              <button [routerLink]="['/analistas/perfil']" class="btn btn-primary">Visualizar</button>
              <br>
              <br>
            </li>
          </ul>
        </div>
      </div>
      <!-- /.widget-user -->
    </div>
    <div class="col-md-4">
      <!-- Widget: user widget style 1 -->
      <div class="box box-widget widget-user-2">
        <!-- Add the bg color to the header using any of the bg-* classes -->
        <div class="widget-user-header bg-aqua-active">
          <div class="widget-user-image">
            <img class="img-circle" src="../../../../../assets/img/alan.jpg" alt="User Avatar">
          </div>
          <!-- /.widget-user-image -->
          <h3 class="widget-user-username">Alan Toledo</h3>
          <h5 class="widget-user-desc">Analista Junior</h5>
        </div>
        <div class="box-footer no-padding">
          <ul class="nav nav-stacked">
            <li>
              <a href="#" style="font-weight: 600">Demandas
                <span class="pull-right badge bg-blue">30</span>
              </a>
            </li>
            <li>
              <a href="#" style="font-weight: 600">Não iniciadas
                <span class="pull-right badge bg-aqua">10</span>
              </a>
            </li>
            <li>
              <a href="#" style="font-weight: 600">Em Andamento
                <span class="pull-right badge bg-green">1</span>
              </a>
            </li>
            <li>
              <a href="#" style="font-weight: 600">Concluidos
                <span class="pull-right badge bg-red">19</span>
              </a>
            </li>
            <li class="text-center">
              <br>
              <button [routerLink]="['/analistas/perfil']" class="btn btn-primary">Visualizar</button>
              <br>
              <br>
            </li>
          </ul>
        </div>
      </div>
      <!-- /.widget-user -->
    </div>
  </div>

</section>
<!-- /.content -->