<!-- Content Header (Page header) -->
<section class="content-header">
    <h3 class="box-title"><b>Perfil do Analista</b></h3>
</section>

<section class="content">
  <div class="row">
      <div class="col-md-3">

          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">
              <img class="profile-user-img img-responsive img-circle" src="../../../../../assets/img/user4-128x128.jpg" alt="User profile picture">

              <h3 class="profile-username text-center">Matheus Moura</h3>

              <p class="text-muted text-center">Analista Junior</p>

              <strong><i class="fa fa-phone margin-r-5"></i> Telefone</strong>
              <p class="text-muted">(11) 94303-8711</p>
              <hr>

              <strong><i class="fa fa-envelope margin-r-5"></i> Email</strong>
              <p class="text-muted">matheusmourabs@gmail.com</p>
              <hr>

              <strong><i class="fa fa-book margin-r-5"></i>CPF</strong>
              <p class="text-muted">9469.589.998-19</p>
              <hr>

              <strong><i class="fa fa-map-marker margin-r-5"></i> Endereço</strong>
              <p class="text-muted">Rua Anhandui mirim - 869, São Paulo, SP</p>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>

        <div class="col-md-9">
            <div class="nav-tabs-custom">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#activity" data-toggle="tab" aria-expanded="true">Demandas</a></li>
                <li class=""><a href="#timeline" data-toggle="tab" aria-expanded="false">Agenda</a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="activity">
                    <table id="example" class="table table-striped projects">
                        <thead>
                          <tr>
                            <th style="width: 20%">Nome</th>
                            <th style="width: 20%">Cliente</th>
                            <th style="width: 30%">Progresso</th>
                            <th style="width: 20%">Status</th>
                            <th style="width: 10%">Ação</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            
                            <td>
                              Demanda 1
                            </td>
                            <td>
                             São Judas Tadeu
                            </td>
                            <td class="project_progress">
                              <div class="progress progress_sm">
                                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="20" aria-valuenow="19" style="width: 20%;"></div>
                              </div>
                              <small>20% Complete</small>
                            </td>
                            <td>
                              <button type="button" class="btn btn-warning btn-xs">Em Andamento</button>
                            </td>
                            <td>
                              <a href="projeto_detalhe.html" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> Visualizar </a>
                            </td>
                          </tr>
                          
                          <tr>
                            
                            <td>
                              Demanda 3
                            </td>
                            <td>
                              São Judas Tadeu
                            </td>
                            <td class="project_progress">
                              <div class="progress progress_sm">
                                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="0" aria-valuenow="0" style="width: 0%;"></div>
                              </div>
                              <small>0% Complete</small>
                            </td>

                            <td>
                              <button type="button" class="btn btn-info btn-xs">Não Iniciado</button>
                            </td>
                            <td>
                              <a href="projeto_detalhe.html" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> Visualizar </a>
                            </td>
                          </tr>
                          <tr>
                            
                            <td>
                              Demanda 4
                            </td>
                            <td>
                              São Judas Tadeu
                            </td>
                            <td class="project_progress">
                              <div class="progress progress_sm">
                                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="0" aria-valuenow="0" style="width: 0%;"></div>
                              </div>
                              <small>0% Complete</small>
                            </td>
                            <td>
                              <button type="button" class="btn btn-info btn-xs">Não Iniciado</button>
                            </td>
                            <td>
                              <a href="projeto_detalhe.html" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> Visualizar </a>
                            </td>
                          </tr>
                          <tr>
                            
                            <td>
                             Demanda 5
                            </td>
                            <td>
                              São Judas Tadeu
                            </td>
                            <td class="project_progress">
                              <div class="progress progress_sm">
                                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="100" aria-valuenow="99" style="width: 100%;"></div>
                              </div>
                              <small>100% Complete</small>
                            </td>
                            <td>
                              <button type="button" class="btn btn-success btn-xs">Concluido</button>
                            </td>
                            <td>
                              <a href="projeto_detalhe.html" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> Visualizar </a>
                            </td>
                          </tr>
                          <tr>
                            
                            <td>
                              Demanda 6
                            </td>
                            <td>
                             São Judas Tadeu
                            </td>
                            <td class="project_progress">
                              <div class="progress progress_sm">
                                <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="100" aria-valuenow="99" style="width: 100%;"></div>
                              </div>
                              <small>100% Complete</small>
                            </td>
                            <td>
                              <button type="button" class="btn btn-success btn-xs">Concluido</button>
                            </td>
                            <td>
                              <a href="projeto_detalhe.html" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> Visualizar </a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                </div>
                
                <div class="tab-pane" id="timeline">
                  
                  
                </div>
                <!-- /.tab-pane -->
              </div>
              <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->
          </div>
  </div>
</section>