<section class="content-header">
    <h3 class="box-title"><b>ANALISTA</b></h3>
</section>

<section class="content">
    <section class="col-lg-12 projetos">
        <div class="box box-primary">
          <div class="box-header">
            <i class="fa fa-clone"></i>
            <h3 class="box-title">Cadastrar Analista</h3>
          </div> 
            <div class="box-body">
                <form class="form-horizontal">
                    <div class="box-body">
                      <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Nome</label>
      
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="inputEmail3" placeholder="Nome do Analista">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputtext3" class="col-sm-2 control-label">CPF</label>
      
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="inputtext3" placeholder="CPF">
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="inputtext3" class="col-sm-2 control-label">Email</label>
      
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="inputtext3" placeholder="Email">
                        </div>
                      </div>

                      <div class="form-group">
                          <label for="inputtext3" class="col-sm-2 control-label">Telefone</label>
        
                          <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputtext3" placeholder="Telefone">
                          </div>
                        </div>

                      <div class="form-group">
                        <label for="inputtext3" class="col-sm-2 control-label">Endereço Do Cliente</label>
      
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="inputtext3" placeholder="Endereço">
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="inputtext3" class="col-sm-2 control-label">Cargo</label>
      
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="inputtext3" placeholder="Cargo">
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="inputtext3" class="col-sm-2 control-label">Nivel</label>
      
                        <div class="col-sm-10">
                          <select type="text" class="form-control" id="inputtext3" >
                            <option value="1">Trainee</option>
                            <option value="2">Junior</option>
                            <option value="3">Pleno</option>
                            <option value="4">Senior</option>
                          </select>
                        </div>
                      </div>


                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                      <button type="submit" class="btn btn-primary pull-right">Cadastrar</button>
                    </div>
                    <!-- /.box-footer -->
                  </form>
            </div>  
        </div>
          
</section>